#header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

#rightcontainer {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#left-column {
    width: 40%;
    float: left;
    margin-right: 2%;
}

#right-column {
    width: 55%;
    float: left;
}

img {

    width: 250px; /* Adjust the width as needed */
    height: auto;
    display: block;
    margin: 0 auto;

}
