
#header {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 15px;
}

#left-column {
    width: 40%;
    float: left;
    margin-right: 2%;
}

#right-column {
    width: 55%;
    float: left;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
